<div class="header primary-dark-bg"
     [class.mobile]="mobile">
  <h2 *ngIf="!mobile"
      class="title">
    <a *ngIf="feed && feed.siteUrl"
       class="site-link"
       [href]="feed.siteUrl | urlSanitize"
       matTooltip="{{feed | feedTitle}}"
       rel="noopener"
       target="_blank">
      <div class="feed-title">
        {{feed | feedTitle}}
      </div>
      <mat-icon>launch</mat-icon>
    </a>
    <div class="header-title"
         *ngIf="(feed && !feed.siteUrl) || category">
      {{ feed && (feed | feedTitle) || category.title }}
    </div>
  </h2>
  <div class="spacer"></div>
  <mat-form-field>
    <input matInput
           [value]="fuzzyString"
           (input)="handleFuzzy($event.target.value)">
  </mat-form-field>
  <button class="read-button"
          (click)="markFeedAsRead()"
          *ngIf="feed && maxItemId !== undefined"
          [disabled]="!!fuzzyString"
          matTooltip="Mark all items read"
          mat-icon-button>
    <mat-icon>archive</mat-icon>
  </button>
  <button class="edit-button"
          (click)="edit()"
          *ngIf="feed || category"
          matTooltip="Edit {{feed && (feed | feedTitle) || category.title}}"
          mat-icon-button>
    <mat-icon>edit</mat-icon>
  </button>
</div>
