.header {
  box-sizing: border-box;
  display: flex;
  height: 40px;
  padding: 0 8px;

  &.mobile {
    height: 52px;
    padding: 6px 8px;
  }
}

.title {
  overflow: hidden;
}

.site-link {
  display: flex;
  text-decoration: unset;

  .feed-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &:hover .feed-title {
    text-decoration: underline;
  }

  .mat-icon {
    font-size: 20px;
  }
}

.title,
.site-link {
  color: white;
  margin: 0;
}

.site-link {
  margin-top: 4px;
}

.header-title {
  margin-top: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.spacer {
  flex: 1 1 auto;
}

mat-form-field {
  max-width: 33%;
}
