.item-list {
  height: calc(100% - 40px);

  &.mobile {
    height: 100%;
  }
}

awrss-item {
  position: relative;
}

.header {

  &.fixed {
    z-index: 2;
  }
}

.show-more {
  height: 52px;

  button {
    width: 100%;
    height: 100%;
  }
}
