<awrss-main-view-header *ngIf="!(mobile | async)"
                        class="header"
                        [mobile]="false"
                        [feed]="feed"
                        [category]="category">
</awrss-main-view-header>

<cdk-virtual-scroll-viewport itemSize="52"
                             class="item-list"
                             [class.mobile]="mobile | async">
  <!-- <awrss&#45;main&#45;view&#45;header *ngIf="mobile | async" -->
  <!--                         class="header" -->
  <!--                         [mobile]="true" -->
  <!--                         [feed]="feed" -->
  <!--                         [category]="category"> -->
  <!-- </awrss&#45;main&#45;view&#45;header> -->
  <awrss-item *cdkVirtualFor="let item of sortedItems; let even = even; let odd = odd"
              [item]="item"
              [showFeed]="!feed"
              [showCategory]="!category && !feed"
              [class.primary-bg]="odd"
              [class.secondary-bg]="even">
  </awrss-item>
</cdk-virtual-scroll-viewport>


<!-- real scrolling is slow, but it allows for browser searching. Use with date ranges? -->
<!-- <div class="item&#45;list"> -->
<!--   <awrss&#45;item *ngFor="let item of sortedItems; let even = even; let odd = odd" -->
<!--               [item]="item" -->
<!--               [showFeed]="!feed" -->
<!--               [class.primary&#45;bg]="odd" -->
<!--               [class.secondary&#45;bg]="even"> -->
<!--   </awrss&#45;item> -->
<!-- </div> -->
