<awrss-main-view-header *ngIf="(mobile | async) !== true"
                        class="header"
                        [mobile]="false"
                        [feed]="feed"
                        [category]="category"
                        [maxItemId]="maxItemId"
                        (fuzzyFilterString)="handleFuzzy($event)">
</awrss-main-view-header>

<div class="viewport"
     [class.mobile]="mobile | async"
     cdkVirtualScrollingElement>
  <cdk-virtual-scroll-viewport #itemScroll
                               itemSize="52"
                               class="item-list">
    <!-- <awrss&#45;main&#45;view&#45;header *ngIf="mobile | async" -->
    <!--                         class="header" -->
    <!--                         [mobile]="true" -->
    <!--                         [feed]="feed" -->
    <!--                         [category]="category" -->
    <!--                         [maxItemId]="maxItemId"> -->
    <!-- </awrss&#45;main&#45;view&#45;header> -->
    <awrss-item *cdkVirtualFor="let item of fuzzyItems; let even = even; let odd = odd"
                [item]="item"
                [showFeed]="!feed"
                [showCategory]="!category && !feed"
                [class.primary-bg]="odd"
                [class.secondary-bg]="even">
    </awrss-item>
  </cdk-virtual-scroll-viewport>

  <div class="show-more primary-dark-bg"
       *ngIf="!hasAllRead">
    <button [disabled]="loadingMore"
            *ngIf="!hasRead"
            (click)="showRead()"
            mat-button>
      Show Read
    </button>
    <button [disabled]="loadingMore"
            *ngIf="hasRead"
            (click)="showMoreRead()"
            mat-button>
      Show More
    </button>
  </div>
</div>
