<!-- TODO: title bar (when appropriate) and date/read filer bar -->

<cdk-virtual-scroll-viewport itemSize="52"
                             class="item-list">
  <awrss-item *cdkVirtualFor="let item of sortedItems; let even = even; let odd = odd"
              [item]="item"
              [showFeed]="!feed"
              [showCategory]="!category && !feed"
              [class.primary-bg]="odd"
              [class.secondary-bg]="even">
  </awrss-item>
</cdk-virtual-scroll-viewport>


<!-- real scrolling is slow, but it allows for browser searching. Use with date ranges? -->
<!-- <div class="item&#45;list"> -->
<!--   <awrss&#45;item *ngFor="let item of sortedItems; let even = even; let odd = odd" -->
<!--               [item]="item" -->
<!--               [showFeed]="!feed" -->
<!--               [class.primary&#45;bg]="odd" -->
<!--               [class.secondary&#45;bg]="even"> -->
<!--   </awrss&#45;item> -->
<!-- </div> -->
