@use 'variables';

html {
  color: white;
  background-color: #303030;
}

[mattooltipposition] {
  touch-action: auto !important;
}

[matripple] {
  touch-action: auto !important;
}

.mdc-text-field {
  background-color: transparent !important;
  padding: 0 !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mat-mdc-form-field-infix {
  min-height: auto !important;
}

mat-dialog-actions {
  flex-direction: row-reverse;
  justify-content: end !important;
}

// These must be global scoped
// https://github.com/angular/material2/issues/13983
mat-sidenav>.mat-drawer-inner-container {
  // Firefox
  scrollbar-width: none;

  // Chrome
  &::-webkit-scrollbar {
    width: 0;
  }
}

.cdk-drag-placeholder {
  display: none !important;
}

awrss-nav {
  .mat-expansion-panel-body {
    padding: 0 0 0 8px;
  }

  .active .mat-expansion-indicator::after {
    color: black;
  }

  .mat-expansion-indicator {
    margin-left: 16px;
  }
}

.mdc-icon-button {
  width: 40px !important;
  height: 40px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  &>*[role=img] {
    width: 24px;
    height: 24px;
    font-size: 24px;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 40px !important;
    height: 40px !important;
  }
}

div.cdk-virtual-scroll-spacer {
  height: unset;
}
