@use '@angular/material' as mat;
@import 'variables';

:root {
  @include mat.button-overrides(( // This isn't safe for internationalization
      text-label-text-transform: uppercase,
    ));
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes($theme);
@include mat.all-component-typographies($theme);
// @include mat.all-legacy-component-themes($theme);
// @include mat.all-legacy-component-typographies();


@mixin awrss-theme($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  // This isn't safe for internationalization
  //$mdc-text-button-label-text-transform: uppercase;

  // Create theme specfic styles
  .primary-bg {
    background-color: mat.m2-get-color-from-palette($primary, 700);
  }

  .primary-dark-bg {
    background-color: mat.m2-get-color-from-palette($primary, 900)
  }

  .secondary-bg {
    background-color: mat.m2-get-color-from-palette($primary, 800)
  }

  .primary-text {
    color: white;
  }

  .accent-text {
    color: mat.m2-get-color-from-palette($accent);
  }

  .accent-bg {
    background-color: mat.m2-get-color-from-palette($accent);
  }

  .warn-bg,
  .warn-bg.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: mat.m2-get-color-from-palette($warn);
  }
}

@include awrss-theme($theme);
