@import 'variables';

:host {
  color: white;
  display: grid;
  grid-template-columns: auto 86px;
  height: 52px;

  &.read {
    opacity: 0.5;
  }

  &.item-hover:hover {
    background-color: mat-color($primary, 500);
  }
}

:host-context(.fixed-layout) {
  .date {
    display: block;
    margin-right: 2px;
    margin-top: 2px;
    position: absolute;
    right: 92px;
  }

  .header {
    position: absolute;
    left: 4px;
    top: 4px;
    max-width: calc(100% - 94px - 112px);
  }
}

.date {
  display: none;
}

.no-header>.date {
  display: block;
  position: absolute;
  right: 4px;
  left: 4px;
}

.spacer {
  display: block;
  height: 24px;
}

.feed-link,
.category-link {
  color: white;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}

.category-link.category-pad {
  margin-right: 12px;
}

.link {
  padding: 4px 0 4px 4px;
}

.link,
.title,
.header {
  display: block;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.header {
  position: absolute;
  right: 4px;
  left: 4px;
  max-width: calc(100% - 90px);
}

.feed-title {
  &:hover {
    text-decoration: underline;
  }
}

.title {
  text-decoration: underline;
  display: inline-block;
}

.read-button {
  height: 44px;
  margin: 4px 4px 4px 0;
}
