
/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
mat-dialog-content {
  padding-bottom: 8px !important;
  padding-right: 8px !important;
}

form {
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding-right: 16px;
}

button {
  margin-left: 8px;
}

.tab-actions {
  margin-right: -16px;
}
