<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Feed">
      <form [formGroup]="feedForm"
            (ngSubmit)="submitFeed(feedForm.value)"
            autocomplete="off"
            novalidate
            name="feedForm">
        <mat-form-field>
          <input matInput
                 name="url"
                 formControlName="url"
                 placeholder="URL"
                 autofocus>
          <mat-error *ngIf="feedForm.controls['url'].hasError('pattern')">
            URL must be HTTP or HTTPS
          </mat-error>
          <mat-error *ngIf="feedForm.controls['url'].hasError('required')">
            URL is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 name="title"
                 formControlName="title"
                 placeholder="Title Override"
                 matTooltip="Override the automatically detected title of the feed. Optional.">
        </mat-form-field>
        <div>
          <mat-checkbox [formControl]="feedForm.get('force')"
                        name="force"
                        matTooltip="Force adding a new feed even if it can't be validated.">
            Force
          </mat-checkbox>
        </div>
        <div align="right">
          <button mat-button
                  mat-dialog-close>
            Cancel
          </button>
          <button type="submit"
                  [disabled]="!feedForm.valid"
                  mat-button>
            Add
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Category">
      <form [formGroup]="categoryForm"
            (ngSubmit)="submitCategory(categoryForm.value)"
            autocomplete="off"
            novalidate
            name="categoryForm">
        <mat-form-field>
          <input matInput
                 name="name"
                 formControlName="name"
                 placeholder="Name">
          <mat-error *ngIf="categoryForm.controls['name'].hasError('pattern')">
            Name must start with a letter and contain only lowercase letters,
            numbers, and hyphens.
          </mat-error>
          <mat-error *ngIf="categoryForm.controls['name'].hasError('required')">
            Name is required
          </mat-error>
          <mat-error
                     *ngIf="categoryForm.controls['name'].hasError('nameTaken')">
            Name must be unique
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 name="title"
                 formControlName="title"
                 placeholder="Title">
          <mat-error
                     *ngIf="categoryForm.controls['title'].hasError('required')">
            Title is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Visibility</mat-label>
          <mat-select name="visibility"
                      formControlName="visibility">
            <mat-option value="show">Show</mat-option>
            <mat-option value="hiddenMain"
                        matTooltip="Items won't show up in the main list and won't count towards the overall unread number.">
              Exclude From Main View
            </mat-option>
            <mat-option value="hiddenNav"
                        matTooltip="Won't show up in the nav at all. You'll have to manually navigate to them or load the app with ?all=true">
              Hide Completely
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div align="right">
          <button mat-button
                  mat-dialog-close>
            Cancel
          </button>
          <button type="submit"
                  [disabled]="!categoryForm.valid"
                  mat-button>
            Add
          </button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
