<div class="header primary-dark-bg"
     *ngIf="showHeader">
  <!-- align="end"> -->
  <button routerLink="/"
          mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <div class="title mat-subheading-2">
    Aw-RSS{{unread ? (' (' + unread + ')') : ''}}
  </div>
  <button (click)="refresh()"
          aria-label="Refresh"
          [disabled]="isRefreshing()"
          mat-icon-button
          mat-button-right>
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<!-- <div class="routes" -->
<!--      [class.has&#45;header]="showHeader"> -->
<!--   <p *ngFor="let x of [].constructor(100)"> -->
<!--     something pretty long that should wrap around -->
<!--     something pretty long that should wrap around -->
<!--     something pretty long that should wrap around -->
<!--     something pretty long that should wrap around -->
<!--     something pretty long that should wrap around -->
<!--   </p> -->
<!-- </div> -->
