<div class="mat-typography"
     [class.fixed-layout]="(mobile | async) !== true">
  <mat-toolbar class="awrss-toolbar"
               *ngIf="mobile | async">
    <button (click)="openNav = !openNav"
            aria-label="Toggle menu"
            mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="header">
      <div *ngIf="!link"
           class="title">{{title}}</div>
      <a *ngIf="link"
         [href]="link | urlSanitize"
         rel="noopener"
         target="_blank"
         class="title external-link">
        {{title}}
        <mat-icon>launch</mat-icon>
      </a>
      <div class="spacer"></div>
      <div class="unread"
           *ngIf="unread">
        ({{unread}})
      </div>
    </h1>
    <button (click)="refresh()"
            aria-label="Refresh"
            [disabled]="isRefreshing()"
            mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container (backdropClick)="openNav = false"
                         fullscreen>
    <mat-sidenav #snav
                 [opened]="(mobile | async) !== true || openNav"
                 [mode]="(mobile | async) ? 'over' : 'side'"
                 [fixedTopGap]="(mobile | async)  ? 56 : 0"
                 fixedInViewport
                 disableClose>
      <awrss-nav (unreadCount)="unread = $event"
                 (pageTitle)="title = $event"
                 (titleLink)="link = $event">
      </awrss-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
