<div class="mat-typography"
     [class.fixed-layout]="!mobileQuery.matches">
  <mat-toolbar class="awrss-toolbar"
               *ngIf="mobileQuery.matches">
    <button (click)="openNav = !openNav"
            aria-label="Toggle menu"
            mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="header">
      <div class="title">{{title}}</div>
      <div class="spacer"></div>
      <div class="unread"
           *ngIf="unread">
        ({{unread}})
      </div>
    </h1>
    <button (click)="refresh()"
            aria-label="Refresh"
            [disabled]="isRefreshing()"
            mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container (backdropClick)="openNav = false"
                         fullscreen>
    <mat-sidenav #snav
                 [opened]="!mobileQuery.matches || openNav"
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedTopGap]="mobileQuery.matches ? 56 : 0"
                 fixedInViewport
                 disableClose>
      <awrss-nav [isMobile]="mobileQuery.matches"
                 (unreadCount)="unread = $event"
                 (pageTitle)="title = $event">
      </awrss-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
