<div class="feed"
     [class.failing]="fd.feed.failingSince"
     [class.disabled]="fd.feed.disabled"
     routerLinkActive="active">
  <a class="link mat-subheading-1"
     routerLink="/feed/{{fd.feed.id}}"
     draggable="false"
     ondragstart="return false;">
    <div class="title"
         matTooltip="{{fd.feed | feedTitle}}"
         matTooltipPosition="right">
      {{fd.feed | feedTitle}}
    </div>
    <div class="spacer"></div>
    <div class="time"
         matTooltip="Failing since {{fd.feed.failingSince | date:'yyyy-MM-dd HH:mm'}}"
         *ngIf="fd.feed.failingSince">
      ({{fd.failingSinceString}})
    </div>
    <div class="unread"
         *ngIf="!fd.feed.failingSince && fd.unread.size">
      ({{fd.unread.size}})
    </div>
    <div class="time"
         matTooltip="Last new item {{fd.lastItem | date:'yyyy-MM-dd HH:mm'}}"
         *ngIf="!fd.feed.failingSince && !fd.unread.size && fd.lastItem">
      ({{fd.lastItemString}})
    </div>
  </a>
</div>
