@use '@angular/material' as mat;
@import 'variables';

:host {
  display: flex;
}

.feed {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  padding: 4px;
  width: 100%;

  &.disabled {
    display: none;

    &.active {
      display: flex;
    }
  }

  &.failing .time {
    color: mat.get-color-from-palette($warn);
  }
}

.unread {
  margin-left: 4px;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

.active {
  background-color: mat.get-color-from-palette($primary, lighter);

  .link {
    color: black;
  }

  &.failing {
    background-color: mat.get-color-from-palette($warn, darker);

    .time {
      color: black;
    }
  }
}

.link {
  color: white;
  display: flex;
  margin: 0;
  //padding: 2px 0;
  overflow: hidden;
  text-decoration: unset;
  flex: 1 1 auto;

  .spacer {
    flex: 100 100 auto;
  }

  &:hover .title {
    text-decoration: underline;
  }
}
