mat-dialog-content {
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding: 0px 24px 20px 24px !important;
}

button {
  margin-left: 8px;
}

.url {
  color: white;
}

.command {
  display: inline;
}
