<awrss-admin-header>
  Feeds
</awrss-admin-header>

<awrss-admin-body>
  <mat-form-field class="fuzzy-form">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput
           (input)="handleFuzzy($event.target.value)">
  </mat-form-field>
  <mat-list class="feeds">
    @for (feed of fuzzyFeeds; track feed; let even = $even; let odd = $odd) {
      <mat-list-item [class.primary-bg]="odd"
                     [class.secondary-bg]="even"
                     [class.disabled]="feed.disabled">
        <span class="feed">
          <a class="title"
             [matTooltip]="feed | feedTitle"
             routerLink="/feed/{{feed.id}}">
            {{feed | feedTitle}}
          </a>
          <a class="url"
             [matTooltip]="feed.url"
             [href]="feed.url">
            {{feed.url}}
          </a>
          <div class="spacer"></div>
          <button (click)="editFeed(feed)"
                  mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </span>
      </mat-list-item>
    }
  </mat-list>
</awrss-admin-body>
