item-list {
  .item {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 25px 0;

    &:nth-child(odd) {
      background-color: #aaa;
    }

    &.hidden {
      display: none;
    }
  }
  
  .item-title,
  .feed-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .read {
    opacity: .3;
  }
  
  .non-mobile-link {
    display: none;
  }

  .mobile-link {
    display: block;
  }
  
  @media only screen and (min-device-width: 768px) {
    .item {
      height: auto;
    }

    .non-mobile-link {
      display: block;
    }

    .mobile-link {
      display: none;
    }
  }
}

