<div class="header primary-dark-bg"
     *ngIf="!isMobile">
  <button (click)="refresh()"
          aria-label="Refresh"
          [disabled]="isRefreshing()"
          mat-icon-button
          mat-button-right>
    <mat-icon>refresh</mat-icon>
  </button>
  <a class="link mat-title"
     routerLink="/">
    <div class="title">
      Aw-RSS
    </div>
    <div class="spacer"></div>
    <div class="unread"
         *ngIf="mainUnread">
      ({{mainUnread}})
    </div>
  </a>
</div>
<div class="home-link"
     *ngIf="isMobile"
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact:true}">
  <a class="
     link
     mat-subheading-1"
     routerLink="/">
    <div class="title">
      All Feeds
    </div>
    <div class="spacer"></div>
    <div class="unread"
         *ngIf="mainUnread">
      ({{mainUnread}})
    </div>
  </a>
</div>
<!-- TODO
   https://github.com/angular/material2/pull/14732
   [cdkDragStartDelay]="isMobile ? 1000 : 0"

   on every draggable so we don't break scrolling

  Then remove the hacky right padding on the menu on mobile.
-->
<div class="body"
     [class.has-header]="!isMobile"
     cdkDropListGroup>
  <mat-expansion-panel *ngFor="let nc of navCategories; let evenC = even; let oddC = odd"
                       class="category"
                       [class.not-dragging]="draggingCategory !== nc.cData.category.id"
                       [class.should-hide]="shouldHideCategory(nc.cData.category)"
                       [expanded]="expanded[nc.cData.category.id]"
                       (opened)="expanded[nc.cData.category.id] = true"
                       (closed)="expanded[nc.cData.category.id] = false"
                       cdkDropList
                       [cdkDropListData]="nc.cData"
                       (cdkDropListDropped)="dragDropped($event)"
                       (mouseenter)="dropTarget = nc.cData"
                       (mouseleave)="dropTarget = undefined"
                       cdkDrag
                       [cdkDragDisabled]="isMobile"
                       [cdkDragData]="nc.cData"
                       (cdkDragStarted)="dragStarted($event)">
    <mat-expansion-panel-header [class.primary-dark-bg]="oddC"
                                [class.primary-bg]="evenC"
                                [collapsedHeight]="'48px'"
                                [expandedHeight]="'48px'"
                                routerLinkActive="active">
      <a class="link"
         routerLink="/category/{{nc.cData.category.name}}">
        <div class="title">
          {{nc.cData.category.title}}
        </div>
        <div class="spacer"></div>
        <div class="unread"
             *ngIf="nc.cData.unread">
          ({{nc.cData.unread}})
        </div>
        <!-- TODO - show unread counter -->
      </a>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <awrss-feed [class.hidden]="dragging"
                  *ngFor="let fd of nc.fData; let even = even; let odd = odd;"
                  [class.primary-dark-bg]="oddC ? odd : !odd"
                  [class.primary-bg]="oddC ? even : !even"
                  [fd]="fd"
                  cdkDrag
                  [cdkDragDisabled]="isMobile"
                  [cdkDragData]="fd"
                  (cdkDragStarted)="dragStarted($event)">
      </awrss-feed>
    </ng-template>
  </mat-expansion-panel>
  <div class="uncategorized"
       (mouseenter)="dropTarget = 'uncategorized'"
       (mouseleave)="dropTarget = undefined"
       cdkDropList
       (cdkDropListDropped)="dragDropped($event)">
    <awrss-feed [class.hidden]="dragging"
                *ngFor="let fd of uncategorizedFeeds; let even = even; let odd = odd;"
                [class.primary-dark-bg]="odd"
                [class.primary-bg]="even"
                [fd]="fd"
                cdkDrag
                [cdkDragDisabled]="isMobile"
                [cdkDragData]="fd"
                (cdkDragStarted)="dragStarted($event)">
    </awrss-feed>
    <div class="uncategorized-target mat-title"
         *ngIf="dragging">
      {{draggingCategory ? 'End' : 'Uncategorized'}}
    </div>
    <mat-expansion-panel class="uncategorized"
                         [class.hidden]="dragging"
                         *ngIf="uncategorizedReadFeeds.length">
      <mat-expansion-panel-header>
        Read Feeds
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div cdkDropList
             (cdkDropListDropped)="dragDropped($event)">
          <awrss-feed *ngFor="let fd of uncategorizedReadFeeds; let even = even; let odd = odd;"
                      [class.primary-dark-bg]="odd"
                      [class.primary-bg]="even"
                      [fd]="fd"
                      cdkDrag
                      [cdkDragDisabled]="isMobile"
                      [cdkDragData]="fd"
                      (cdkDragStarted)="dragStarted($event)">
          </awrss-feed>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </div>

  <div class="buttons"
       [class.hidden]="dragging">
    <button (click)="openAddDialog()"
            aria-label="Add Feed or Category"
            mat-button
            mat-button-right>
      New
    </button>
  </div>
</div>
