@use '@angular/material' as mat;
@use 'variables' as var;

// TODO - remove https://github.com/angular/material2/pull/14732
/*.home-link,
.body {
  margin-right: 60px;
}*/

.header {
  display: flex;
  position: fixed;
  width: 200px;
  z-index: 2;

  .link {
    padding: 9px 8px 7px 0;
    line-height: 24px;
  }

  .unread {
    margin: 0 0 0 4px;
  }
}

.home-link {
  padding: 9px 8px;
  width: auto;

  &.link {
    margin-bottom: 8px;
  }

  &.active {
    background-color: white;
    color: black;
  }
}

.mat-subtitle-1 {
  margin: 0;
}

.link {
  color: white;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  overflow: hidden;
  text-decoration: unset;
  white-space: nowrap;

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .spacer {
    flex: 1 1 auto;
  }

  &:hover .title {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}

.body {
  min-width: 200px;

  &.has-header {
    box-sizing: border-box;
    min-height: 100%;
    padding-top: 40px;
    padding-right: 0;
  }
}

.mat-expansion-panel {
  border-radius: 0;

  .mat-expansion-panel-header {
    flex-direction: row-reverse;
    padding: 0;
  }
}

.category {
  margin-bottom: 8px;

  &.should-hide {
    display: none;

    &.active {
      display: block
    }
  }

  .mat-expansion-panel-header {
    &:hover {
      background-color: unset !important;

      &.active {
        background-color: white !important;
      }

      &.failing {
        background-color: mat.m2-get-color-from-palette(var.$warn, darker) !important;

        .link,
        .unread {
          color: white !important;
        }
      }

      &.active.failing {

        .link,
        .unread {
          color: black !important;
        }
      }
    }

    &.failing .unread {
      color: mat.m2-get-color-from-palette(var.$warn, darker);
    }

    &.active {
      background-color: white;

      .link,
      .unread {
        color: black !important;
      }

      &.failing {
        background-color: mat.m2-get-color-from-palette(var.$warn, darker);

        .link,
        .unread {
          color: white;
        }
      }
    }

    .link-div {
      flex: 1 1 auto;
      margin-left: 16px;
    }

    .link {
      flex: 1 1 auto;
      padding: 10px 8px 10px 0;
    }
  }
}

.read-feeds {
  padding-left: 16px;
}

.uncategorized-target {
  background-color: mat.m2-get-color-from-palette(var.$primary, darker);
  margin: 0;
  padding: 84px 0;
  text-align: center;
}

.cdk-drop-list-dragging.not-dragging.category {
  transform: none !important;
}

.buttons {
  display: flex;
  margin-top: 8px;

  .spacer {
    flex: 1 1 auto;
  }

  &.hidden {
    display: none;
  }
}
