<button (click)="refresh()" [disabled]="isRefreshing()">Refresh</button>

<span *ngIf="getError()">{{getError()}}</span>

<div *ngFor="let item of getItems(); trackBy id"
     class="item" [class.read]="item.read">
  <div class="feed-title">
    {{getFeed(item.feedId)?.userTitle || getFeed(item.feedId)?.title}}
  </div>
  <a [href]="getItemUrl(item)" 
     (mouseup)="handleItemClick($event, item)"
     class="item-title"
     [class.non-mobile-link]="getItemMobileUrl(item)"
     rel="noopener"
     target="_blank">
    {{item.title||item.url}}
  </a>
  <a [href]="getItemMobileUrl(item)" 
     *ngIf="getItemMobileUrl(item)"
     (mouseup)="handleItemClick($event, item)"
     class="item-title mobile-link"
     rel="noopener"
     target="_blank">
    {{item.title||item.url}}
  </a>
  <button *ngIf="!item.read" (click)="markItemAsRead(item.id)">
    Read
  </button>
  <button *ngIf="item.read" (click)="markItemAsUnread(item.id)">
    Unread
  </button>
</div>
