@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$awrss-primary: mat-palette($mat-grey);
$awrss-accent: mat-palette($mat-cyan);

// The warn palette is optional (defaults to red).
// $awrss-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-dark-theme($awrss-primary, $awrss-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);


// Define a custom mixin that takes in the current theme
@mixin awrss-theme($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  // Create theme specfic styles
  .primary-bg {
    background-color: mat-color($primary, 700);
  }

  .primary-dark-bg {
    background-color: mat-color($primary, 900)
  }

  .secondary-bg {
    background-color: mat-color($primary, 600)
  }

  .primary-text {
    color: white;
  }

  .accent-bg {
    background-color: mat-color($accent);
  }

  .warn-bg {
    background-color: mat-color($warn);
  }
}

@include awrss-theme($theme);
