@import 'variables';

// TODO - remove https://github.com/angular/material2/pull/14732
.home-link,
.body {
  margin-right: 60px;
}

.header {
  display: flex;
  position: fixed;
  width: 200px;
  z-index: 2;


  .link {
    padding: 9px 8px 7px 0;
    line-height: 24px;
  }

  .unread {
    margin: 0 0 0 4px;
  }

}

.home-link {
  height: 40px;
  padding: 4px;

  &.has-header {
    padding-right: 0;
    margin-top: 40px;
  }
}

.link {
  color: white;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  overflow: hidden;
  padding: 2px 0;
  text-decoration: unset;
  white-space: nowrap;

  .title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .spacer {
    flex: 1 1 auto;
  }

  &:hover .title {
    text-decoration: underline;
  }
}

.home-link {
  display: flex;
  padding: 4px;
  width: auto;

  &.active {
    background-color: mat-color($primary, lighter);

    .link {
      color: black;
    }
  }
}

.hidden {
  display: none;
}

.body {
  min-width: 200px;

  &.has-header {
    box-sizing: border-box;
    min-height: 100%;
    padding-top: 40px;
    padding-right: 0;
  }
}

.category {
  border-radius: 0;
  margin-bottom: 8px;

  &.should-hide {
    display: none;

    &.active {
      display: block
    }
  }
}

.uncategorized-target {
  background-color: mat-color($primary, darker);
  margin: 0;
  padding: 84px 0;
  text-align: center;
}

.cdk-drop-list-dragging.not-dragging.category {
  transform: none !important;
}

.mat-expansion-panel-header {
  padding: 0 8px;
}
