mat-sidenav-container {
  margin-top: 56px;
}

mat-sidenav>* {
  scrollbar-width: none;
}

mat-toolbar {
  position: fixed;
  top: 0;
  height: 56px;
  z-index: 2;
}

.fixed-layout {
  mat-sidenav {
    border: none;
    width: 200px;
  }

  mat-sidenav-container {
    margin-top: 0;
  }
}

.filler {
  flex: 1 1 auto;
}
