<div *ngIf="showFeed || (showCategory && category)"
     class="header primary-text"
     (mouseenter)="itemHover = false"
     (mouseleave)="itemHover = true">
  <a *ngIf="showCategory && category"
     class="category-link mat-body-strong"
     [class.category-pad]="showFeed"
     routerLink="/category/{{category.name}}">
    {{category.title}}
  </a>
  <a *ngIf="showFeed"
     class="feed-link mat-body-strong"
     routerLink="/feed/{{feed.id}}">
    {{feed | feedTitle}}
  </a>
</div>
<a class="link primary-text"
   [class.item-hover]="itemHover"
   [class.no-header]="!showFeed && !(showCategory && category)"
   [href]="item.url | urlSanitize"
   (mouseup)="handleItemMouseup($event)"
   (contextmenu)="handleContextMenu($event)"
   (click)="handleItemClick($event)"
   rel="noopener"
   target="_blank">
  <div class="date">
    {{item.timestamp | date:'yyyy-MM-dd HH:mm'}}
  </div>
  <div class="spacer"></div>
  <div (contextmenu)="$event.stopPropagation()"
       matTooltip="{{item.title}}"
       class="title">
    {{item.title}}
  </div>
</a>
<button (click)="toggleItemRead()"
        [disabled]="disabled"
        class="read-button"
        (mouseenter)="itemHover = false"
        (mouseleave)="itemHover = true"
        mat-button>
  {{item.read ? 'Unread' : 'Read'}}
</button>
