<div *ngIf="showFeed"
     class="feed-title mat-body-strong">
  {{feed.userTitle || feed.title}}
</div>
<div class="item-title-container"
     [class.span]="!showFeed">
  <a [href]="item.url | urlSanitize"
     (mouseup)="handleItemMouseup($event)"
     class="item-title primary-text"
     rel="noopener"
     target="_blank">
    {{item.title}}
  </a>
</div>
<button (click)="toggleItemRead()"
        [disabled]="disabled"
        class="read-button"
        mat-button>
  {{item.read ? 'Unread' : 'Read'}}
</button>
