@import 'variables';

:host {
  color: white;
  display: grid;
  grid-template-columns: auto 86px;
  height: 44px;
  padding: 4px;

  &.read {
    opacity: 0.5;
  }

  &.item-hover:hover {
    background-color: mat-color($primary, 500);
  }
}

.item-header {
  position: absolute;
  width: fit-content;
}

.item-spacer {
  display: block;
  height: 24px;

  &.thin {
    height: 12px;
  }
}

.feed-link {
  color: white;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}

.item-link,
.item-title,
.feed-title {
  display: block;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feed-title {
  &:hover {
    text-decoration: underline;
  }
}

.item-title {
  text-decoration: underline;
}

.read-button {
  height: 44px;
}
